*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.container-body {
    max-width: 112.5rem;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    color: white;
}

main,
header,
footer {
    margin: 1.25rem;
    padding: 0 1.25rem;
    border: 0.125rem inset;
    border-image: linear-gradient(7deg, purple, red, yellow) 30;
    animation-name: border-color;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.container-header,
.container-footer {
    display: flex;
    justify-content: space-between;
    height: 12vh;
}

.header-right,
.footer-right,
.header-left,
.footer-left {
    width: 50%;
}

.btn {
    border: none;
    font-size: 2.2rem;
    position: fixed;
    top: 4%;
    right: 6%;
    background: black;
    color: #dd9700;
    cursor: pointer;
    z-index: 1;
}

.btn::after {
    content: '\002630';
}

ul.ul-container {
    /* sidebar */
    transition: all 0.5s linear;
    padding-top: 1rem;
    list-style: none;
    height: 260vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    text-align: center;
    border: 0.188rem solid;
    border-image: linear-gradient(7deg, purple, red, yellow) 30;
    animation-name: border-color;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.close {
    left: -100%;
}

.show {
    left: 0%;
}

ul.ul-container>li {
    margin: 0 0.5rem;
}

li>a {
    display: inline-block;
    margin-top: 1.8rem;
    text-decoration: none;
    color: #fdffb6;
    font-size: 1.4rem;
    transition-property: all;
    transition-duration: 0.9ms;
    transition-timing-function: linear;
}

li>a:hover {
    color: #F6DC43;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo,
.logo>img {
    max-width: 100%;
    width: 100%;
    max-width: 3.75rem;
    display: block;
    height: auto;
    margin-right: 0.4rem;
}

h1 {
    font-size: 1.1rem;
    color: #F6DC43;
}

@media screen and (min-width:800px) {

    h1 {
        font-size: 1.2rem;
    }

    .btn {
        display: none;
    }

    ul.ul-container {
        padding-top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: static;
        left: 0;
        border: none;
        border-image: none;
        animation-name: none;
    }

    ul.ul-container>li {
        margin-right: 1rem;
    }

    li>a {
        display: inline;
        text-decoration: none;
        color: #fdffb6;
        font-size: 1.4rem;
        transition-property: all;
        transition-duration: 400ms;
    }

    .logo,
    .logo>img {
        max-width: 100%;
        width: 100%;
        max-width: 70px;
        margin-left: 0.4rem;
    }
}

/* .main */
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
    color: #fcfcfc;
    color: #c4f5fc;
}

.img,
.img>img {
    max-width: 100%;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    display: block;
    object-fit: fill;
    margin: 0 auto;
    height: 100%;
}

.sec-media-right {
    margin-bottom: 1.25rem;
}

.sec-media-right>h2 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

@media screen and (min-width:800px) {
    .sec-media {
        width: 95%;
        margin: auto;
        text-align: justify;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        margin-bottom: 5.625rem;
        font-size: 1.2rem;
    }

    .sec-media-left {
        padding-top: 0;
    }

    .sec-media-right {
        max-width: 50%;
    }
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.icons{
    margin-left: 0.9rem;
}
.icons>a {
    font-size: 1.8rem;
    margin-right: 1.7rem;
    color: #1c2541;
    filter: blur(0.031rem);
}

.icons>a:hover i.fa-github {
    color: #e8fffc;
    filter: blur(0rem);
}
.icons>a:hover i.fa-telegram {
    color: #24abeb;
    filter: blur(0rem);
}
.icons>a:hover i.fa-instagram {
    color: transparent;
    background-image: linear-gradient(90deg,red,blue);
    background-clip: text;
    filter: blur(0rem);
}

/* animation */
@keyframes border-color {
    10% {
        border-image: linear-gradient(7deg, purple, red, yellow) 5;
    }

    30% {
        border-image: linear-gradient(7deg, yellow, purple, red) 5;
    }

    60% {
        border-image: linear-gradient(7deg, red, rgb(255, 255, 0), purple) 5;
    }

    100% {
        border-image: linear-gradient(7deg, purple, red, yellow) 5;
    }
}